$cell-color: white;
$border-base-color: #ddd;
$border-base-hover-color: #999;
$border-active-color: #444;
$border-active-hover-color: #666;

rect {
  &.cell {
    fill: white;

    &.correct {
      fill: #bfb;
    }

    &.missing-center {
      fill: #fbb;
    }
  }

  &.border {
    cursor: pointer;
    fill: $border-base-color;

    &:hover {
      fill: $border-base-hover-color;
    }

    &.active {
      fill: $border-active-color;

      &.dangling {
        fill: red;
      }

      &:hover {
        fill: $border-active-hover-color;
      }
    }
  }
}

.corner {
  fill: $border-base-color;

  &.active {
    fill: $border-active-color;
  }
}

svg.board {
  background-color: $border-base-color;
}

body {
  background-color: #22124d;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.main {
  width: 100%;
  height: 100%;
}

text.galaxy-center {
  font-family: monospace;
  font-size: 32px;
  font-weight: bold;

  &.incorrect-size {
    fill: red;
  }
}

circle.asymmetric-center {
  fill: rgb(255, 194, 194);
}

.board-control-buttons {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;

  @media (orientation: landscape) {
    justify-content: center;
  }
}

.board-control-button {
  font-family: monospace;
  flex-grow: 1;
  max-height: 64px;
  font-size: 24px;
}

.board-container {
  display: flex;
  width: 100%;
  height: 100%;
  @media (orientation: landscape) {
    flex-direction: row;
  }
  @media (orientation: portrait) {
    flex-direction: column;
  }
}

.celebration-text {
  color: white;
  font-family: monospace;
  font-size: 24px;
  text-align: center;
}
